---
layout: default
---
<div class="profile-container">
  <!-- Profile Image -->
  <div class="profile-image" style="float: {{ page.profile.align }};">
    <img src="{{ page.profile.image | relative_url }}" alt="Profile Picture" class="{% if page.profile.image_circular %}img-circle{% endif %}">
  </div>

  <!-- Profile Information -->
  <div class="profile-info">
    <h1>About Me</h1>
    <p>{{ content }}</p>

    <!-- Social Media Links -->
    <div class="social-links">
      {% if page.social_links.github %}
        <a href="{{ page.social_links.github }}" target="_blank" class="social-icon">
          <i class="fab fa-github"></i> GitHub
        </a>
      {% endif %}
      {% if page.social_links.twitter %}
        <a href="{{ page.social_links.twitter }}" target="_blank" class="social-icon">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      {% endif %}
      {% if page.social_links.email %}
        <a href="{{ page.social_links.email }}" class="social-icon">
          <i class="fas fa-envelope"></i> Email
        </a>
      {% endif %}
    </div>
  </div>
</div>
